# Файлы окружения
.env
.env.local
.env.production

# Базы данных
*.db
*.sqlite
*.db-journal

# Бэкапы
backups/
*.backup

# Логи
logs/
*.log

# Питон
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

# Операционные системы
.DS_Store
Thumbs.db
